<?xml version="1.0" encoding="UTF-8"?>
<beans
	xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns:p="http://www.springframework.org/schema/p"
	xmlns:context="http://www.springframework.org/schema/context"
	xsi:schemaLocation="http://www.springframework.org/schema/beans 
						http://www.springframework.org/schema/beans/spring-beans-3.0.xsd
						http://www.springframework.org/schema/context 
						http://www.springframework.org/schema/context/spring-context-3.0.xsd">

	<context:component-scan base-package="cn.edu.wic"/>					

	<bean 
		id = "user" 
		class = "cn.edu.wic.spring04.bean.User"
		scope = "singleton" lazy-init="true">
		<!-- scopre is prototype will create multiple Obejcts -->
		<!-- scopre is singleton will just create one Obejct -->
		<!-- lazy-init is true while use the Object just init the Object -->
	</bean>
	
</beans>